<html>

<body>
    <h1>Start Attemptig Questions</h1>
    <h3>Rules : 1.Attempt all 2.No time lmit</h3>
    <form action="\submitform" method="post" th:object="${answerObject}">
        <div th:each="item : ${questions}">
            <label th:text="${item.questionName}"></label><br>
            <!-- <div th:each="optioni: ${item.options}"> -->
            <input type="text" name="|answermap[${item.id}]|" required th:field="*{answermap[__${item.id}__]}" />
            <!-- </div> -->
        </div>
        <input type="submit" value="submit" />
    </form>

</body>
<script>
</script>

</html>